.Xauthority
.aws
.azure
.bash_history
.bash_logout
.bashrc
.cache
.docker
.gemini
.landscape
.lesshst
.local
.motd_shown
.npm
.nvm
.openrag
.profile
.ssh
.sudo_as_admin_successful
.wget-hsts
venv-avant-vente
models_transfer.tar
uv-x86_64-unknown-linux-gnu*
03-PROJETS/
